/* not hover */
.container-2td-dC,
.iconSizeLarge-161qtT,
.container-1aNBdK,
.avatar-3f3jk4 {
	height: 25px !important;
	width: 25px !important;
    	transition: 150ms !important;
		-webkit-transition: 150ms !important;
		-moz-transition: 150ms !important;
	transition-property: height, width, margin !important;
		-webkit-transition-property: height, width, margin !important;
		-moz-transition-property: height, width, margin !important;
	transition-delay: 50ms !important;
		-webkit-transition-delay: 50ms !important;
		-moz-transition-delay: 50ms !important;
	transition-timing-function: ease !important;
		-webkit-transition-timing-function: ease !important;
		-moz-transition-timing-function: ease !important;
}
.container-1aNBdK > div:nth-child(1) > div:nth-child(1) > a:nth-child(1){
	background-size: 100% !important;
}
.friendsOnline-2JkivW,
.container-1ETFDs {
	margin-right: 0 !important;
	padding-left: 5px !important;	
}
.friendsOnline-2JkivW {
	padding-bottom: 10px;
}
.wrapper-1Rf91z {
	width: 80px !important;
}
.scrollbar-2rkZSL {
	display: none !important;
}
.guildSeparator-3s64Iy {
	padding-top: 30px;
	top: 25px;
	left: 5px;
}
.container-2td-dC:nth-child(odd),
.container-1aNBdK:nth-child(odd) {
	margin-left: 33px;
	margin-bottom: -25px;
	bottom: /*[[icolign]]*/;
}
.container-2td-dC:before {
	margin-left: 9px;
	margin-top: -7px !important;
	z-index: 9 !important;
	border: 2px solid #202225;
	border-radius: 10px;
	height: 10px;
}
.container-1aNBdK:nth-child(2n+1) {
	margin-top: 10px;
}
.wrapper-232cHJ {
	top: 15px;
	height: 12px;
}
.circleIconButton-jET_ig {
	margin-top: 25px;
}
.container-11WMXy > div:nth-child(1) {
	margin: 0 !important;
}

/* hover */
.container-2td-dC:hover,
.iconSizeLarge-161qtT:hover,
.container-1aNBdK:hover,
.avatar-3f3jk4:hover {
	height: 50px !important;
	width: 50px !important;
}
.container-2td-dC:nth-child(odd):hover,
.container-1aNBdK:nth-child(odd):hover{
	margin-left: 5px;
	margin-bottom: -33px;
	z-index: 10;
}
.tooltips {
	left: 20px;
}
